@model Genere

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Aggiungi un nuovo genere di film</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Genere1"></label>
			<input asp-for="Genere1" class="form-control" id="Genere"/>
			<span asp-validation-for="Genere1" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Genere" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>