@using Cinema.Models.ViewModel;
@model MieiFilmVM

<div class="container">
    @if(Model.Films.Count() > 0)
    {
        @foreach(var item in Model.Films)
        {
            <div class="card">
                <div class="card-header">
                    @item.Titolo
                    @if (MieiFilmVM.HasValutazione(item.Titolo, Model.Valutazioni))
                    {
                        <div class="align-content-end">
                            Il tuo voto: @Model.Valutazioni.Where(v => v.FkFilm == item.Titolo).First().Valutazione1
                        </div>
                    }
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4"><img src="@item.UrlImmPub" height="150px" /></div>
                        <div class="col-8"><h5 class="card-title">Descrizione: @item.Descrizione</h5></div>
                    </div>
                </div>
                <div class="card-footer">
                    @if (MieiFilmVM.HasValutazione(item.Titolo, Model.Valutazioni))
                    {
                        <a asp-action="ModificaRecensione" asp-controller="Valutazioni" asp-area="Customer" asp-route-id=@item.Titolo class="btn btn-info">Modifica recensione</a>
                        <a asp-action="EliminaRecensione" asp-controller="Valutazioni" asp-area="Customer" asp-route-id=@item.Titolo class="btn btn-danger">Elimina recensione</a>
                    }
                    else
                    {
                        <a asp-action="NuovaRecensione" asp-controller="Valutazioni" asp-area="Customer" asp-route-id=@item.Titolo class="btn btn-dark">Inserirsci una recensione</a>
                    }
                </div>
            </div>
            <div class="p-2"></div>
        }
    }
    else
    {
        <h4 class="text-black">Non hai ancora visto nessun film compra un biglietto per poter inserire una recensione</h4>
    }
</div>